.container {
    display: flex;
    justify-content: space-between;
    .art {
        width: 400px;
        border-radius: 2%;
        box-shadow: 1px 2px 3px 1px #666666;
        margin: 1%;
        img {
            width: 100%;
        }
        h2 {
            text-align: center;
        }
        p {
            padding: 10px;
        }
        button {
            margin-left: 24%;
            margin-bottom: 5%;
            background-color: rgb(98, 223, 146);
            color: white;
            box-shadow: 1px 1px 2px 1px #666666;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
        }
    }
}