* {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    box-shadow: 0.5px 0.5px 2px 0.5px #666666;
    color: black;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    .menuleft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        .name,
        .age {
            padding: 25px;
        }
        img {
            width: 75px;
            //display block to remove backspace under img
            display: block;
        }
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
        .phone,
        .address,
        .about {
            padding: 20px;
        }
        .phone {
            background-color: gray;
            border-radius: 10px;
            color: white;
        }
    }
    a,
    a:active,
    a:visited {
        color: black;
        text-decoration: none;
    }
}